    <tr>
        <td><%= produto.nome %></td>
        <td><%= produto.descricao %></td>
        <td><%= produto.preco %></td>
        <td><%= link_to "Remover", produto, method: :delete, class: "btn btn-danger", data: { confirm: "Tem certeza que deseja remover? #{produto.nome}"}%></td>
        <td><%= link_to "Alterar", editar_produtos_path(produto), class: "btn btn-default" %></td>
    </tr>
        <% link_to "Voltar", "root" %>
